.profilePage1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% auto;
  max-width: 1200px;
  padding: 20px;

  .details1 {
    width: 100%;

    .wrapper1 {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-weight: 600;
        }

        button {
          padding: 10px 20px;
          background-color: #c4e7c3;
          border: none;
          border-radius: 5px;

          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
      }

      .info1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        .bio1 {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 20px;

          h1 {
            font-size: 28px;
            font-weight: bold;
          }

          h2 {
            font-size: 18px;
          }

          p {
            font-size: 16px;
            line-height: 1.6;
          }

          span {
            display: block;
            margin-bottom: 10px;

            h2 {
              display: inline;
              margin-right: 10px;
              font-size: 18px;
              font-weight: bold;
            }

            h3 {
              display: inline;
              font-size: 16px;
              font-weight: normal;
            }
          }
        }

        .avatar1 {
          flex: 0 0 500px; /* Fixed size for avatar */
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 300px;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .specialization-title1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .specialization1 {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;

    .card1 {
      flex: 1;
      background: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
      text-align: center;
      padding: 20px;

      .icon1 {
        font-size: 30px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 20px;
        margin: 10px 0;
      }

      p {
        font-size: 14px;
        color: #666;
      }
    }
  }
}
