.search-bar {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
  
    .search-input {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-right: none;
      border-radius: 4px 0 0 4px;
      font-size: 16px;
  
      &:focus {
        outline: none;
        border-color: #007BFF;
      }
    }
  
    .search-button {
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: 1px solid #007BFF;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }